/* login styles */
html{
	margin:0;
	padding:0;
}
body {
	width:100%;
	height:100%;
	margin: 0;
	padding: 0;
	background-color:#FFFFFF;
}
#mainSlogan {
	width:100%;
	height:420px;
}
#maintitle {
	width:1000px;
	height:30px;
	color: #000000;
	font-family:"ו";
	font-size:30px;
	font-weight: bold;
	text-indent:570px;
	background:url(../../img/salesPic.png);
}
#main{
	width:1000px;
	height:145px;
}
.message{
	color: #FF0000;
	font-size:12px;
	font-weight: bold;
}
.submit{
	border-top-width:   1px;     
	padding-top:   2px;     
	border-left-width:1px;   
	font-size:   9pt;     
	font-family:   "ו";   
	border-left-color:   #000000;     
	border-bottom-width:   2px;     
	border-bottom-color:   #9090d8;     
	border-top-color:   #9090d8;     
	height:   20px;     
	width:   47px;   
	border-right-width:   2px;     
	border-right-color:   #9090d8;   
	background-color:   #FFFFFF;   
}
